body {
	font-family: Roboto;
}


header {
	margin-top: 40px;
}

h1 {
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	margin: 0 0 0 0;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	text-transform: uppercase;
}

table {
	border-spacing:0;
	border-collapse:0;
	margin-left:auto; 
	margin-right:auto;
}

table.main {
	font-size: 20px;
	margin-top: 40px;
	width: 620px;
}

table.description {
	text-align: justify;
	-moz-text-align-last: center;
	text-align-last: center;
	font-size: 17px;
	width: 700px;
}

table.main td {
	padding: 10px;
}

table.description td.title {
	padding-top: 35px;
}

img.profile {
	width:300px;
	height: auto;
}

ul {
	width: 260px;
	margin: auto;
	list-style-type: none;

}