.footer-button, .edit-form-send-button {
	box-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
	text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
	position: fixed;
    right: 50px;
    bottom: 50px;
	display:block;
    width:80px;
    height:80px;
    line-height:50px;
    border: none;
    border-radius: 50%;
    color:white;
    text-align:center;
    text-decoration:none;
    background: #CFD8DC;
    font-weight:bold;
    font-size: 40px;
}

.footer-button:hover, .edit-form-send-button:hover{
	text-shadow: 2px 2px 5px rgba(2, 2, 2, 1);
	background: #263238;
	border: none;
	width:74px;
    height:74px;
    right: 53px;
    bottom: 53px;
}