header {
	position: relative;
	box-shadow: 2px 2px 10px rgba(150, 150, 150, 1);
	margin-bottom: 30px;
	background-color: #CFD8DC;
	padding: 20px;
	height: 200px;

	@include breakpoint(medium) {
		padding: 30px;
		height: 240px;
	}
}

.header-title-label {
	position: relative;
	top: 50px;
	text-shadow: 2px 2px 10px rgba(150, 150, 150, 1);
	color:white;
	font-size: 60px;
	font-weight: bold;

	@include breakpoint(medium) {
		top: 55px;
		font-size: 70px;
	}
}

.header-title-img{
	float: right;
	box-shadow: 2px 2px 10px rgba(150, 150, 150, 1);;
	border-radius: 50%;
	width: 90px;
	height: auto;

	@include breakpoint(medium) {
		width: 180px;
	}
}


.hamburger {
	text-shadow: 2px 2px 10px rgba(150, 150, 150, 1);
	font-size: 30px;
	color: white;
}

.hamburger:hover {
	color: #263238;
}

.off-canvas {
	background-color: #B0BEC5;
}

.columns {
	padding: 0;
}
