body {
	font-family: Roboto;
	margin:0px;
}

.tasklist {
	margin-bottom: 180px;
	margin-left:20px;
	margin-right:20px;

	@include breakpoint(medium) {
		margin-left:30px;
		margin-right:30px;
	};

	@include breakpoint(large) {
		margin-left:0px;
		margin-right:0px;
	};
}

.tasklist {
	box-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
}

.tasklist-title, .tasklist-content, .tasklist-content done {
	list-style-type: none;
	margin: 0px;
}

.tasklist-title {
	text-shadow: 2px 2px 10px rgba(50, 50, 50, 1);
	color:white;
	padding-top:8px;
	padding-bottom: 8px;
	font-size: 20px;
	font-weight: bold;
	background-color: #546E7A;
}

.tasklist-number, .tasklist-number-title {
	display:inline-block;
	width: 30px;
	vertical-align: top;
}
.tasklist-description,.tasklist-description-title {
	display:inline-block;
	width: 55%;

	@include breakpoint(396px) { 
		width: 60%
	}
	@include breakpoint(475px) { 
		width: 67%
	}
	@include breakpoint(640px) { 
		width: 30%
	}
	@include breakpoint(680px) { 
		width: 35%
	}
	@include breakpoint(730px) { 
		width: 41%
	}
	@include breakpoint(826px) { 
		width: 48%
	}
	@include breakpoint(950px) {
		width: 55%;
	};
	@include breakpoint(1100px) {
		width: 60%;
	};
	@include breakpoint(large) {
		width: 300px;
	};
}
.tasklist-date, .tasklist-date-title {
	display:inline-block;
	width:100px;
	vertical-align: top;
}
.tasklist-due, .tasklist-due-title {
	display:inline-block;
	width:100px;
	vertical-align: top;
}

.tasklist-author,.tasklist-author-title {
	display: inline-block;
	width: 125px;
	vertical-align: top;
}

.tasklist-assignee,.tasklist-assignee-title {
	display: inline-block;
	width: 125px;
	vertical-align: top;
}

.tasklist-executer,.tasklist-executer-title {
	display: inline-block;
	width: 125px;
	vertical-align: top;
}

ul {
	-webkit-padding-start: 20px;
	@include breakpoint(medium) { 
		-webkit-padding-start: 30px;
	}
}

.tasklist-content, .done {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #90A4AE;
}

.tasklist-content:nth-child(even) {
	background-color: #B0BEC5;
}

.tasklist-priorite, .tasklist-priorite-title  {
	text-align: center;
	display:inline-block;
	width:110px;
	vertical-align: top;
}
.tasklist-action {
	margin-top: 10px;
	margin-left: 30%;
	display: inline-flex;
	justify-content: space-between;
	width:115px;
	vertical-align: top;

	@include breakpoint(460) { 
		margin-left: 35%;
	}

	@include breakpoint(medium) { 
		margin-top: 0px;
		margin-left: 10px;
	}
}

.tasklist-check {
	font-size: 17px;
	width:30px;
	height:30px;
	background: #546E7A;
	border: 2px solid #546E7A;
	border-radius: 50%;
	color:white;
}

.tasklist-check:hover {
	background: #263238;
	border: 2px solid #263238;
}

.tasklist-cancel {
	font-size: 17px;
	width:30px;
	height:30px;
	background: #546E7A;
	border: 2px solid #546E7A;
	border-radius: 50%;
	color:white;
}

.tasklist-cancel:hover {
	background: #263238;
	border: 2px solid #263238;
}

.tasklist-edit {
	font-size: 17px;
	width:30px;
	height:30px;
	background: #546E7A;
	border: 2px solid #546E7A;
	border-radius: 50%;
	color:white;
}

.tasklist-edit:hover {
	background: #263238;
	border: 2px solid #263238;
}

.done li {
	color: #555555;
	opacity: 0.6;
}

.done {
	text-shadow: none;
	opacity: 0.8;
}

.done:nth-child(even) {
	background-color: #B0BEC5;
	opacity: 0.8;
}

.footer-button, .edit-form-send-button,  {
	box-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
	text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
	position: fixed;
	right: 50px;
	bottom: 70px;
	display:block;
	width:60px;
	height:60px;
	line-height:50px;
	border: none;
	border-radius: 50%;
	color:white;
	text-align:center;
	text-decoration:none;
	background: #CFD8DC;
	font-weight:bold;
	font-size: 30px;
	
	@include breakpoint(medium) { 
		width:80px;
		height:80px;
		font-size: 40px;
	}
}

.edit-form-new-button,  {
	box-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
	text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
	position: fixed;
	right: 150px;
	bottom: 70px;
	display:block;
	width:60px;
	height:60px;
	line-height:50px;
	border: none;
	border-radius: 50%;
	color:white;
	text-align:center;
	text-decoration:none;
	background: #CFD8DC;
	font-weight:bold;
	font-size: 20px;
	
	@include breakpoint(medium) { 
		right: 180px;
		width:80px;
		height:80px;
		font-size: 26px;
	}
}

.footer-button:hover, .edit-form-send-button:hover{
	text-shadow: 2px 2px 5px rgba(2, 2, 2, 1);
	background: #263238;
	border: none;
	width:58px;
	height:58px;
	right: 51px;
	bottom: 71px;

	@include breakpoint(medium) { 
		width:74px;
		height:74px;
		right: 53px;
		bottom: 73px;
	}
}

.edit-form-new-button:hover{
	text-shadow: 2px 2px 5px rgba(2, 2, 2, 1);
	background: #263238;
	border: none;
	width:58px;
	height:58px;
	right: 151px;
	bottom: 71px;

	@include breakpoint(medium) { 
		width:74px;
		height:74px;
		right: 181px;
		bottom: 73px;
		font-size: 25px;
	}
}

.edit {
	margin-bottom: 30px;
	@include breakpoint(medium) { 
		margin-bottom: 0px;;
	}
}

.edit-form-send-button{
	font-size: 20px;

	@include breakpoint(medium) { 
		font-size: 30px;
	}
}

.edit-form-label {
	margin-bottom: 20px;
	text-align: center;
	display: block;
	width: 150px;
	
	color:black;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	@include breakpoint(medium) { 
		margin-right: 40px;
		text-align: right;
	}
}

.edit-form {
	text-align: center;
	margin-bottom: 180px;
}

input, textarea, select, text {
	height: 2.4375rem;
	width : 250px;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

textarea, select, edit-form-date, input, text {
	font-family: inherit;
	font-size: inherit;
}

.edit-form-label, .edit-form-textarea {
	vertical-align:top;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	@include breakpoint(medium) { 
		display:inline-block;
		margin-bottom: 40px;
		margin-left: 0px;
		margin-right: 15px;
	}
}

.edit-form-textarea {
	resize: vertical;
	height: 85px;
}

.edit-form-select, .edit-form-input {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 5px;
	outline: none;  
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	@include breakpoint(medium) { 
		display:inline-block;
		margin-left: 0px;
		margin-right: 0px;
	}
}

.login-form {
	text-align: center;
	text-align: center;
	margin-bottom: 180px;
}

.login-name-label, .login-name-input {
	display:inline-block;

}

.login-email-input {
	margin-bottom: 50px;
	@include breakpoint(medium) { 
		margin-bottom: 0px;
	}
}

.login-name-label {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}

.close-button {
	color : white;
}

.header-button {
	display : block;
	margin-top: 15px;
	margin-left: 20px;
	margin-bottom: 40px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color : white;
}

.header-button-filter {
	display : block;
	margin-top: 15px;
	margin-left: 20px;
	font-size: 20px;
	font-weight: bold;
	color : #eeeeee;
}

.header-button:hover {
	color : #263238;
}

.header-button-filter:hover{
	color : #263238;
}

.close-button:hover{
	color : #263238;
}

.arrow-down {
	margin-left: 8px;
	margin-bottom : 3px;
	display: inline-block;
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid white;
}

.footer {
	font-style: italic;
	display: table;
	margin: 0px auto;
	bottom : 0px;
	color: white;
	text-shadow: 2px 2px 10px rgba(50, 50, 50, 1);
	text-align: center;
}

.outer {
	width: 100%;
	vertical-align: top;
	position: fixed;
	bottom: 0px;
	padding: 4px;
	background: #263238;
}

.footer-about {
	margin-right: 20px;

}

.footer-manual {
	margin-left: 20px;
}

.footer-link { 
	color: inherit;
} 

.footer-link:hover { 
	color: #aaaaaa;
} 